fastapi
uvicorn
python-dotenv
sqlalchemy 
joblib
numpy 
pandas
seaborn
matplotlib
scikit-learn
authlib
passlib
bcrypt==4.0.1
pydantic-settings
pytest
pytest-cov
pytest-asyncio
httpx
flake8
snakeviz
line_profiler
locust
prometheus-fastapi-instrumentator
python-jose[cryptography]
psycopg2-binary
asyncpg
email-validator
httpx
pdfplumber
python-multipart